<!--template/partials/headers.html-->

<header class="shadow-sm">
    <span class="appname">BudgetApp</span>
    <div class="d-flex gap-2">

        <!-- Shopping List Button -->
        <div class="dropdown">
            <button class="header-btn position-relative" data-bs-toggle="dropdown" aria-expanded="false">
                {% if shopping_count == 0 %}
                <i class="bi bi-cart"></i>
                {% else %}
                <span class="badge">{{ shopping.count }}</span>
                {% endif %}
            </button>

            <ul class="dropdown-menu dropdown-menu-end">
                <li><a class="dropdown-header text-center" href="{% url 'shopping_page' %}"><small>Shopping List > </small></a></li>
                {% for item in shopping %}
                <li class="dropdown-item-text">{{ item.item }}</li>
                {% endfor %}
            </ul>
        </div>

        <!-- Currency Button -->
        <div class="dropdown">
            <button class="header-btn" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-currency-exchange"></i>
            </button>
            <ul class="dropdown-menu dropdown-menu-end">
                <li><a class="dropdown-item" href="#">THB</a></li>
                <li><a class="dropdown-item" href="#">USD</a></li>
                <li><a class="dropdown-item" href="#">MMK</a></li>
            </ul>
        </div>


    </div>
</header>