{% extends 'base.html' %}

{% block content %}

<h2> < 600 > </h2>
<small>Feb Total</small>

<table class="table">
    <tr>
        <th>User</th>
        <th>Date</th>
        <th>Category</th>
        <th>Amount</th>
        <th>Description</th>
        <th>-</th>
    </tr>
    {% for item in expense.values %}
    <tr>
        <td>
            {{ item.user }}
        </td>
        <td>
            {{ item.date.day }}
        </td>
        <td>
            {{ item.category }}
        </td>
        <td>
            {{ item.amount }}
        </td>
        <td>
            {{ item.description }}
        </td>
        <td>
            <a href="{% url 'update_expense' id=item.id %}" class="btn btn-warning btn-sm">Edit</a>
            <a href="{% url 'delete_expense' id=item.id %}" class="btn btn-danger btn-sm">Delete</a>
        </td>
    </tr>
    {% endfor %}
</table>

<a href="{% url 'add_expense' %}" class="btn btn-primary"> Form </a>
{% endblock %}