{% extends 'base.html' %}

{% block content %}

<div class="container mt-3">

    <div class="row mb-3">
        <div class="col-12">
            <div class="card shadow" style="background-color: #9381ff;">
                <div class="card-header text-center text-black" style="background-color: #3D167A70">
                    <strong>Total Budget</strong>
                </div>
                <div class="card-body text-center">

                    <div class="row text-center">

                        <div class="col-6 border-end border-black">
                            <h3 class="card-title mb-0 py-2">{{total_budget_left}}</h3>
                        </div>
                        <div class="col-6">
                            <h3 class="card-title mb-0 py-2">{{ total_budget }}</h3>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-6">
            <div class="card shadow" style="background-color: #9381ff;">

                <div class="card-header text-black text-center" style="background-color: #3D167A70">
                    <strong>{{ user1_name }}</strong>
                </div>

                <div class="card-body text-center">
                    <h3 class="card-title">{{ user1_stats.left }} / {{ user1_stats.budget }}</h3>
                </div>
            </div>
        </div>

        <div class="col-6">
            <div class="card shadow" style="background-color: #9381ff;">

                <div class="card-header text-black text-center" style="background-color: #3D167A70">
                    <strong>{{ user2_name }} </strong>
                </div>

                <div class="card-body text-center">
                    <h3 class="card-title">{{ user2_stats.left }} / {{ user1_stats.budget }}</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-6">
            <div class="card shadow" style="background-color: #d5f7b9;">

                <div class="card-header text-black" style="background-color: #3D167A70">
                    <strong>Personal Spending</strong>
                </div>

                <div class="card-body text-center">
                    <h3 class="card-title">{{ user1_stats.for_self }}</h3>
                </div>
            </div>
        </div>

        <div class="col-6">
            <div class="card shadow" style="background-color: #d5f7b9;">

                <div class="card-header text-black" style="background-color: #3D167A70">
                    <strong>Personal Spending</strong>
                </div>

                <div class="card-body text-center">
                    <h3 class="card-title">{{ user2_stats.for_self }}</h3>
                </div>
            </div>
        </div>
    </div>


    <div class="row mb-3">
        <div class="col-12">
            <div class="card shadow" style="background-color: #b9d1f7;">
                <div class="card-header text-center text-black" style="background-color: #3D167A70">
                    <strong>Total Deposit</strong>
                </div>
                <div class="card-body text-center">

                    <div class="row text-center">

                        <div class="col-6 border-end border-black">
                            <h3 class="card-title mb-0 py-2">{{remaining_deposit}}</h3>
                        </div>
                        <div class="col-6">
                            <h3 class="card-title mb-0 py-2">{{ total_deposit }}</h3>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-12">
            <div class="card shadow" style="background-color: #b9d1f7;">
                <div class="card-header text-center text-black" style="background-color: #3D167A70">
                    <strong>Deposit</strong>
                </div>
                <div class="card-body p-0">
                    <table class="table table-borderless mb-0">
                        <tbody>
                            <tr>
                                <td class="ps-3">Food</td>
                                <td class="text-end pe-3 fw-semibold">{{ shared_food }}</td>
                            </tr>
                            <tr>
                                <td class="ps-3">Grocery</td>
                                <td class="text-end pe-3 fw-semibold">{{ shared_grocery }}</td>
                            </tr>
                            <tr>
                                <td class="ps-3">Utility</td>
                                <td class="text-end pe-3 fw-semibold">{{ shared_utility }}</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr style="background-color: #3D167A40; border-top: 2px solid #3D167A;">
                                <td class="ps-3 fw-bold">Total</td>
                                <td class="text-end pe-3 fw-bold">{{shared_details}}</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}