{% extends 'base.html' %}
{% load currency_filter %}

{% block content %}

<div class="container mt-3">

    <!-- Row 1: Name Card -->
    <div class="row mb-3">
        <div class="col-12">
            <div class="card card-budget shadow">
                <div class="card-header text-center">{{ user.username }}'s Balance</div>
                <div class="card-body text-center">
                    <h3 class="card-title text-value">{{ user_stats.net_balance|convert:rate }}</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-12">
            <div class="btn-group w-100 shadow" role="group">
                {% for user in users %}
                <a href="?user= {{ user.id }}"
                   class="btn btn-sm
                   {% if user.id == selected_user %} btn-light
                   {% else %} btn-primary
                   {% endif %}"> {{user.username}}
                </a>
                {% endfor  %}
            </div>
        </div>
    </div>

    <!-- Row 2: Month Selector -->
    <div class="row mb-3">
        <div class="col-12">
            <div class="btn-group w-100 shadow" role="group">
                {% for month_num in month_range %}
                <a href="?month={{ month_num }}"
                   class="btn btn-sm
                   {% if month_num == selected_month %}
                   btn-light
                   {% else %}
                   btn-primary
                   {% endif %}">
                    {{month_num}}</a>
                {% endfor %}
            </div>
        </div>
    </div>

    <!-- Row 3: Spending Review-->
    <div class="row mb-3">
        <div class="col-6">
            <div class="card card-budget shadow">
                <div class="card-header text-center text-label">Available Budget</div>
                <div class="card-body text-center">
                    <h3 class="card-title text-value">{{ available_budget|convert:rate }}</h3>
                </div>
            </div>
        </div>

        <div class="col-6">
            <div class="card card-budget shadow">
                <div class="card-header text-center text-label">Saving</div>
                <div class="card-body text-center">
                    <h3 class="card-title text-value">0</h3>
                </div>
            </div>
        </div>
    </div>

    <!-- Row 4: Spending Review-->
    <div class="row mb-3">
        <div class="col-6">
            <div class="card card-spending shadow">
                <div class="card-header text-center text-label">Daily Avg</div>
                <div class="card-body text-center">
                    <h3 class="card-title text-value">{{ user_stats.daily_expense_avg|convert:rate }}</h3>
                </div>
            </div>
        </div>

        <div class="col-6">
            <div class="card card-spending shadow">
                <div class="card-header text-center text-label">Spent</div>
                <div class="card-body text-center">
                    <h3 class="card-title text-value">{{ user_stats.personal_ex|convert:rate }}</h3>
                </div>
            </div>
        </div>
    </div>


    <div class="row mb-3">
        <div class="col-12">
            <div class="card card-spending shadow-sm">
                <div class="card-header">Personal Spending</div>
            </div>
            <div class="table-scroll">
                <div class="card-body p-0">
                    <table class="table table-spending mb-0">
                        <tbody>
                        {% for item in expenses %}
                        <tr>
                            <td>{{ item.date|date:"d" }}</td>
                            <td>{{ item.description }}</td>
                            <td>{{ item.get_category_display }}</td>
                            <td>{{ item.amount }}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- Row 5: Spending Review-->
    <div class="row mb-3">
        <div class="col-6">
            <a href="{% url 'add_income' %}" class="card card-income shadow text-decoration-none d-block">
                <div class="card-header text-center text-label">Income</div>
                <div class="card-body text-center">
                    <h3 class="card-title text-value">{{ user_stats.income|convert:rate }}</h3>
                </div>
            </a>
        </div>

        <div class="col-6">
            <a href="{% url 'add_deposit' %}" class="card card-deposit shadow text-decoration-none d-block">
                <div class="card-header text-center text-label">Deposit</div>
                <div class="card-body text-center">
                    <h3 class="card-title text-value">{{ user_stats.deposit|convert:rate }}</h3>
                </div>
            </a>
        </div>
    </div>

</div>

{% endblock %}