{% extends 'base.html' %}
{% load currency_filter %}
{% block content %}

<div class="container mt-3">

    <!-- ROW 1: Total Budget-->
    <div class="row mb-3">
        <div class="col-12">
            <div class="card card-budget shadow">
                <div class="card-header text-center"><strong>{{ selected_month_name }} Budget Left</strong></div>
                <div class="card-body">
                    <div class="row text-center">
                        <div class="col-12">
                            <h3 class="text-value">{{ monthly_budget_left|convert:rate }}</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ROW 2: Month Selector -->
    <div class="row mb-3">
        <div class="col-12">
            <div class="btn-group w-100 shadow" role="group">
                {% for month_num in month_range %}
                    <a
                            href="?month={{ month_num }}"
                            class="btn btn-sm
                            {% if month_num == selected_month %}
                                btn-light
                            {% else %}
                                btn-primary
                            {% endif %}">
                        {{ month_num }}
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>

    <!-- ROW 3: Quick Stats Cards -->
    <div class="row mb-3">
        <!-- Personal Expenses Card -->
        <div class="col-6">
            <div class="card card-budget shadow">
                <div class="card-header text-center text-label">My Budget</div>
                <div class="card-body text-center py-3">
                    <h3 class="card-title text-value">{{ current_user_stats.stats.budget_left|convert:rate }}</h3>
                </div>
            </div>
        </div>

        <!-- Shared Expenses Card -->
        <div class="col-6">
            <div class="card card-spending shadow">
                <div class="card-header text-center text-label">Spent Total</div>
                <div class="card-body text-center">
                    <h3 class="card-title text-value">{{ current_user_stats.stats.personal_ex|convert:rate }}</h3>
                    <small></small>
                </div>
            </div>
        </div>
    </div>

    <!-- ROW 4: Budget/Spent Table -->
    <div class="row mb-3">
        <div class="col-12">
            <div class="card card-budget shadow">
                <div class="card-header text-center">
                    <strong>Budget</strong>
                </div>
                <div class="card-body p-0">
                    <table class="table table-budget table-equal mb-0">
                        <tbody>
                        <tr>
                            <th><small>Name</small></th>
                            <th class="text-end"><small>Total</small></th>
                            <th class="text-end"><small>Left</small></th>
                            <th class="text-end"><small>Spent</small></th>
                        </tr>
                        {% for item in user_stats %}
                        <tr>
                            <td>
                                <div class="fw-semibold">{{ item.user.username }}</div>
                            </td>
                            <td>
                                <div class="text-end">{{item.stats.total_budget|convert:rate}}</div>
                            </td>
                            <td>
                                <div class="text-end">{{item.stats.budget_left|convert:rate}}</div>
                            </td>
                            <td>
                                <div class="text-end">{{item.stats.personal_ex|convert:rate}}</div>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- ROW 4: Deposit Left -->
    <div class="row mb-3">
        <div class="col-12">
            <div class="card card-deposit shadow">
                <div class="card-header text-center">Deposit Left</div>
                <div class="card-body">
                    <div class="row text-center">
                        <div class="col-12">
                            <h3 class="text-value">{{ remaining_deposit|convert:rate }}</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ROW 5: Income/Deposit Table -->
    <div class="row mb-3">
        <div class="col-12">
            <div class="card card-deposit shadow">
                <div class="card-header text-center">
                    <strong>Income/Deposit</strong>
                </div>
                <div class="card-body p-0">
                    <table class="table table-deposit mb-0">
                        <tbody>
                        <tr>
                            <th><small>Name</small></th>
                            <th class="text-end"><small>Income</small></th>
                            <th class="text-end"><small>Deposit</small></th>
                        </tr>
                        {% for item in user_stats %}
                        <tr>
                            <td>
                                <div class="fw-semibold">{{ item.user.username }}</div>
                            </td>
                            <td>
                                <div class="text-end">{{item.stats.income|convert:rate}}</div>
                            </td>
                            <td>
                                <div class="text-end">{{item.stats.deposit|convert:rate}}</div>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <td>
                                    <div></div>
                                </td>
                                <td>
                                    <div class="text-end fw-semibold">{{ monthly_budget|convert:rate }}</div>
                                </td>
                                <td>
                                    <div class="text-end fw-semibold">{{ monthly_deposit|convert:rate }}</div>
                                </td>

                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- Action Buttons (Income/Deposit) -->
    <div class="row mb-5">
        <div class="col-4">
            <a href="{% url 'add_income' %}" class="btn btn-income w-100 shadow">
                Income
            </a>
        </div>
        <div class="col-4">
            <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button class="btn btn-warning w-100 shadow">
                    Logout
                </button>
            </form>
        </div>
        <div class="col-4">
            <a href="{% url 'add_deposit' %}" class="btn btn-deposit w-100 shadow">
                Deposit
            </a>
        </div>
    </div>

</div>

{% endblock %}